<header class="site-header">
    <div class="header-inner">
      <!-- אזור הלוגו -->
      <div class="site-logo">
        <a href="/">
          <img src="{{ '/images/logo.png' | relative_url }}" alt="לוגו האתר" class="logo-img">
        </a>
      </div>
  
      <!-- תפריט ניווט -->
      <nav class="site-nav">
        <ul>
          <li><a href="/">דף הבית</a></li>
          <li><a href="/search/">חיפוש</a></li>
          <li><a href="/about/">אודות חצילי נוימן</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
