
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #6200ea;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.category-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 15px;
    transition: transform 0.2s;
}

.category-card img {
    max-width: 100%;
    border-radius: 10px;
}

.category-card h2 {
    font-size: 20px;
    color: #333;
}

.category-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
}

.category-card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #6200ea;
    color: white;
    text-align: center;
    padding: 10px 0;
}
