---
layout: default
---

<article class="single about-page">
  <!-- כותרת עליונה -->
  <header class="about-header">
    <h1>אודות חצילי נוימן</h1>
  </header>
  
  <!-- עטיפת תמונת הבאנר - הגבול מוחל על המיכל -->
  <div class="about-banner-wrapper">
    <img src="/images/about.jpg" alt="תמונת אודות" class="about-banner" />
  </div>
  
  <!-- תוכן העמוד -->
  <div class="about-content">
    {{ content }}
  </div>

  <!-- כפתור חזרה לדף הבית -->
  <div class="about-actions">
    <a href="/" class="btn back-home">חזרה לדף הבית</a>
  </div>
</article>
